<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda Urbana</title>
    <style>
        body {
            background-color: #faf2e4;
            margin: 0 10%;
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
            font-family: serif;
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid #57b1dc;
            margin-top: 30px;
        }

        h2 {
            color: #470000;
            font-size: 1em;
        }
    </style>
</head>

<body>

    <h1>
        <img src="Fazenda.jpg" alt="Imagem da Fazenda" width="500" height="300"><br>
        Bem-vindo às Fazendas Urbanas: Cultivando o Futuro Sustentável
    </h1>
    <audio controls loop>
        <source src="Final.mp3" type="audio/mpeg">
        Seu navegador não suporta áudio embutido.
    </audio>

    <p><em>Descubra como estamos transformando a agricultura nas cidades!</em></p>

    <hr>

    <h2>O que são fazendas urbanas?</h2>
    <p>As Fazendas Urbanas são espaços inovadores dedicados à produção de alimentos frescos e saudáveis dentro das cidades. Utilizando técnicas avançadas como hidroponia e aquaponia, cultivamos frutas, hortaliças e vegetais de forma sustentável e eficiente.</p>

    <hr>

    <h2>Nossos Benefícios</h2>

    <ul>
        <li><em>Sustentabilidade:</em> Reduzimos o uso de agrotóxicos e aproveitamos melhor os recursos naturais.</li>
        <li><em>Qualidade:</em> Produzimos alimentos próximos aos centros urbanos, garantindo produtos mais frescos e nutritivos.</li>
        <li><em>Economia:</em> Diminuímos os custos logísticos e de transporte, tornando alimentos mais acessíveis.</li>
    </ul>

    <hr>

    <figure>
        <video width="640" height="360" controls loop>
            <source src="FloresAnimadas.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>
        <figcaption>Vídeo de flores animadas.</figcaption>
    </figure>


    <h2>Como Funciona?</h2>
    <p>Nossas fazendas são projetadas para maximizar o uso do espaço urbano. Cultivamos em telhados, terraços e até mesmo dentro de prédios, utilizando sistemas de cultivo vertical e soluções nutritivas precisas para as plantas. Além disso, combinamos o cultivo de plantas com a criação de peixes, criando um ecossistema sustentável e eficiente.</p>

</body>
</html>
